/* .container {
  margin-top: 15rem;
  display: flex;
  justify-content: center;
}

  
  .formDiv {
    width: 500px;
    border-radius: 10px;
    padding:60px 40px 5px;
    -webkit-box-shadow: -1px 8px 15px 0px rgba(0, 0, 0, 0.44);
    -moz-box-shadow: -1px 8px 15px 0px rgba(0, 0, 0, 0.44);
    box-shadow: -1px 8px 15px 0px rgba(0, 0, 0, 0.44);
  } */
  .container {
    margin-top: 11rem;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  .formDiv {
    width: 600px;
    padding: 30px;
    border-radius: 10px;
    -webkit-box-shadow: -1px 8px 15px 0px rgba(0, 0, 0, 0.44);
    -moz-box-shadow: -1px 8px 15px 0px rgba(0, 0, 0, 0.44);
    box-shadow: -1px 8px 15px 0px rgba(0, 0, 0, 0.44);
  }

  #outerWrap{
    position: relative;
    justify-content: center;
    right: 25%;
}
#layer1{
    position: absolute;
    bottom: 50%;
    z-index: 9;
    left: 10rem;
    height: 13rem;
    opacity: 0.8; 
}
#layer2{
  position: absolute;
  padding-top:2.5rem;
  z-index: 1;
}
  
   
  
 